@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{ font-family: "Overpass", sans-serif;}
body{
    margin: 0;
    padding: 0;
}

section{
    background: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        background: linear-gradient(to bottom,  hsl(213, 19%, 18%), hsla(216, 12%, 8%, 0.496));
        border-radius: 15px;
        width: 80%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content{
            width: 85%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;


            .icon{
                background:hsla(225, 8%, 31%, 0.529);
                width: 40px;
                height: 40px;
                border-radius: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h3{
                color: hsla(0, 0%, 100%, 0.927);
                font-size: 24px;
                margin: 10px 0 0px 0;
            }
            p{color:hsla(0, 0%, 100%, 0.363) ; font-size: 12px; width: 90%; margin: 0px 0 10px 0;}
            
            .numbers{
                display: flex;
                justify-content: space-around;
                margin-bottom: 10px;
                height: 15%;
            }
            /* .submit{
                margin-top: 7px;
                border: none;
                height: 15%;
                border-radius: 30px;
                background: hsl(25, 97%, 53%);
                font-weight: 800;
                font-size: 17px;
                letter-spacing: 1.5px;
            } */
        }
    }
}
.number{ background-color:hsla(225, 8%, 31%, 0.529) ;
            width: 45px;
            height: 45px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius:  180px;
            color: hsl(217, 12%, 63%);
            font-size: 18px; 
            font-weight:600 ;}

.submit{
                margin-top: 7px;
                border: none;
                height: 15%;
                border-radius: 30px;
                background: hsl(25, 97%, 53%);
                font-weight: 800;
                font-size: 17px;
                letter-spacing: 1.5px;
            }


            
.number:hover { background: hsl(25, 97%, 53%); color: hsl(216, 12%, 8%);}
.submit:hover{background: white;}

@media screen and (min-width:1024px) {
    section{
        .container{
            width: 26%;
            height: 57%;
            .content{p{font-size: 14px;}}
            
        }
    }
}